@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing:none;
    font-family: "Roboto",sans-serif;
}

.wrapper {
    max-width: 100%;
    text-align: center;
}
    .wrapper >p,
    .wrapper >h1{
        background-color:burlywood;
        color: black;
        cursor: pointer;
        font-size: 2.0rem ;
        width: 100%;
        padding: 1rem 1.5rem;
        border:none;
        outline: none;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items:center;
    }
    
    .wrapper{
        letter-spacing: 1px;
    }
.accordion{
    background-color:bisque;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.0rem ;
    width: 100%;
    padding: 1rem 1.5rem;
    border:none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.accordion i{
    font-size: 1.0rem ;
}

    .faq-answer{
        background-color:brown;
        color: rgba(0,0,0,0.8);
        cursor: pointer;
        font-size: 1.0rem ;
        width: 100%;
        padding: 1rem 1.5rem;
        border:none;
        outline: none;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    .faq-answer i{
        font-size: 1.0rem ;
    }
    